@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wzyyxr');
  src:  url('../fonts/icomoon.eot?wzyyxr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wzyyxr') format('truetype'),
    url('../fonts/icomoon.woff?wzyyxr') format('woff'),
    url('../fonts/icomoon.svg?wzyyxr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
  content: "\e90a";
}
.icon-chart-bars:before {
  content: "\e90b";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e916";
}
.icon-eye:before {
  content: "\e90d";
}
.icon-leaf:before {
  content: "\e90e";
}
.icon-license:before {
  content: "\e90f";
}
.icon-lock:before {
  content: "\e910";
}
.icon-magic-wand:before {
  content: "\e911";
}
.icon-map-marker:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e913";
}
.icon-phone-handset:before {
  content: "\e914";
}
.icon-smile1:before {
  content: "\e915";
}
.icon-users:before {
  content: "\e907";
}
.icon-smile:before {
  content: "\e908";
}
.icon-cloud-download:before {
  content: "\e909";
}
.icon-briefcase:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e905";
}
.icon-magnifier:before {
  content: "\e900";
}
.icon-alarm:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-star:before {
  content: "\e902";
}
.icon-star_outline:before {
  content: "\e903";
}
