html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
a{
  display: inline-block;
  text-decoration: none;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: $text;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  height: 110px;
  max-width: 1140px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px; 
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 30px;
  color: #000;
  line-height: 40px;
  justify-content: space-between;
  padding-right: 30px;
}