@media (max-width: 1200px){
  .search__inner-form__wrapper::before,
  .search__inner-form__wrapper::after{
    display: none;
  }
  .search__inner-form{
    padding-right: 20px;
    padding-left: 20px;
  }
  .products__item-hover__wrapper:hover .item-hover__btn-demo {
    right: 30px;
  }
  .products__item-hover__wrapper:hover .item-hover__btn-more {
    left: 30px;
  }
  .products__btn button {
    padding: 7px 14px;
  }
  div.products__item {
    max-width: 97%;
    margin-left: 8px;
  }
  .feed__items .slick-list {
    padding: 0;
  }
  .products__item-img {
    max-width: 100%;
  }
  .products__item-img:hover .products__item-hover.off{
    display: none;
  }
  .progress__item {
    box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
    margin: 0 10px 30px;
    max-width: 315px;
    padding: 20px 15px 40px;
  }
  .shop__item-title {
    padding: 0 10px;
  }
  .shop__item-text {
    padding: 0 20px;
  }
  .feedback__item + .feedback__item{
    margin-left: 20px;
  }
  .news__item {
    max-width: 361px;
    width: 100%;
    & + .news__item{
      margin-left: 20px;
    }
  }
  .news__item-img {
    max-width: 361px;
    width: 100%;
  }
  .news__item-date {
    padding-right: 0;
    border: none;
  }
}
@media (max-width: 1045px){
  .products__item.mix {
    max-width: 100%;
    flex-basis: calc(50% - 25px);
    .products__item-img {
      max-width: 100%;
    }
    .products__item-img:hover .products__item-hover {
      display: none;
    }
  }
  .progress__item {
    max-width: 47%;
  }
  .progress__item {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.08);
  }
  
}
@media (max-width: 1030px){
  .products-slider__img{
    max-width: 500px;
  }
  .products-slider__info{
    padding: 45px 30px 24px 30px;
  }
  .products__btn {
    flex-wrap: wrap;
  }
  .products__btn button {
    width: 126px;
  }
  div.products__item {
    margin-left: 6px;
  }
  .news__item-wrapper {
    padding: 20px 15px 0;
  }
  .news__item-bottom {
    padding: 10px 15px;
  }
  .news__items {
    flex-wrap: wrap;
  }
  .news__item {
    max-width: 48%;
    margin-bottom: 30px;
  }
  .news__item+.news__item {
    margin-left: 0;
  }
  .news__item:last-child{
    margin-bottom: 0;
    margin: 0 auto;
  }
  .news__item-img {
    max-width: 100%;
  }
}
@media (max-width: 930px){
  .products-slider__info{
    padding: 35px 20px 24px 20px;
  }
  .products-slider__img{
    max-width: 450px;
    min-height: 0;
  }
  .products-slider__info-title{
    margin-bottom: 15px;
  }
  .products-slider__info-user {
    margin-bottom: 20px;
  }
  .products-slider__text {
    margin-bottom: 20px;
  }
  .products-slider__hashtag {
    margin-bottom: 50px;
  }
  .feedback__item {
    padding: 40px 20px 35px;
  }
}
@media (max-width: 900px){
  .menu__list{
    z-index: 5;
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    left: 0;
    border-top: 1px solid #000;
    top: 80px;
    li + li{
      margin-left: 0;
    }
    a{
      display: block;
      height: 40px;
      text-align: center;
      border-bottom: 1px solid #000;
      padding-top: 5px;
      .header__menu-box{
        top: 39px;
      }
    }
  }
  .header__menu-box{
    display: none;
  }
  .menu__btn{
    display: block;
  }
  .header__btn{
    display: none;
  }
  .header__icons{
    margin-left: auto;
  }
}
@media (max-width: 870px){
  .search__inner-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .search__inner-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 50px;
  }
  .search {
    min-height: 630px;
  }
  .search__inner {
    padding-top: 140px;
  }
  .search__inner a {
    margin-bottom: 140px;
  }
  .advantages__item { 
    padding: 20px 10px;
  }
  .products-slider__item {
    display: block;
  }
  .products-slider__img {
    max-width: 100%;
    min-height: 450px;
  }
  .products-slider__info {
    max-width: 100%;
  }
  .products-slider__info::before {
    max-width: 100%;
  }
  .products__btn {
    justify-content: center;
  }
  .products__btn button:last-child {
    margin-right: 10px;
  }
  .feedback__items {
    flex-wrap: wrap;
  }
  .feedback__item {
    max-width: 100%;
  }
  .feedback__item+.feedback__item {
    margin-left: 0;
    margin-top: 25px;
  }
}
@media (max-width: 760px){
  .shop__items {
    flex-wrap: wrap;
  }
}
@media (max-width: 730px){
  .search__inner-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .search__inner-text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 40px;
  }
  .search__inner a {
    line-height: 14px;
    width: 165px;
    font-size: 14px;
    margin-bottom: 100px;
  }
  .search__inner {
    padding-top: 100px;
  }
  .search {
    min-height: 505px;
  }
  .search__inner-form form input{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    &::placeholder{
      font-size: 14px;
    }
  }
  .search__inner-form form select{
    padding-left: 15px;
    max-width: 150px;
    font-size: 14px;
  }
  .search__inner-form form button {
    max-width: 130px;
    font-size: 14px;
  }
  .advantages__item-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .advantages__item-text{
    font-size: 14px;
    line-height: 28px;
  }
  .search{
    margin-bottom: 130px;
  }
  .advantages {
    padding-bottom: 100px;
  }
  .advantages__items {
    flex-wrap: wrap;
  }
  .advantages__item {
    max-width: 100%;
  }
  .products-slider__inner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .title {
    margin-bottom: 40px;
    font-size: 28px;
    height: 90px;
  }
  .products-slider__items .slick-next,
  .products-slider__items .slick-prev{
    display: none !important;
  }
  .products-slider__info-title {
    font-size: 22px;
  }
  .info-user__name,
  .info-user__tool-text,
  .products-slider__text,
  .products-slider__hashtag,
  .products-slider__price,
  .products-slider__likes::before,
  .products-slider__likes,
  .products-slider__cart::before,
  .products-slider__cart {
    font-size: 14px;
  }
  .products-slider__text{
    line-height: 28px;
  }
  .products-slider__inner-box {
    display: none;
  }
  .products-slider__info {
    padding: 20px 20px 24px 20px;
  }
  .products-slider__img {
    min-height: 350px;
  }
  .products-slider__info {
    padding: 15px 20px 15px 20px;
  }
  .products-slider__info-title {
    margin-bottom: 10px;
  }
  .products-slider__info-user {
    margin-bottom: 10px;
  }
  .products-slider__text {
    margin-bottom: 10px;
  }
  .products-slider__hashtag {
    margin-bottom: 30px;
  }
  .products-slider__info::before {
    bottom: 60px;
  }
  .products__btn button {
    font-size: 14px;
  }
  .products__item-title {
    font-size: 18px;
  }
  .products__item-text{
    font-size: 14px;
    line-height: 28px;
  }
  .products__item-likes,
  .products__item-cart {
    font-size: 14px;
    padding-left: 25px;
  }
  .products__item-price {
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 13px;
  }
  .products__item-wrapper {
    padding: 15px;
  }
  .products__item-bottom__box {
    padding: 0 15px;
  }
  .products__item-likes::before,
  .products__item-cart::before {
    right: 25px;
  }
  .products__btn {
    padding-left: 15px;
    padding-right: 15px;
  }
  .products {
    padding: 100px 0;
  }
  .products__btn-bot {
    margin-top: 30px;
  }
  .products__btn-bot button {
    font-size: 14px;
  }
  div.products__item {
    margin-left: 5px;
  } 
  .feed {
    padding: 100px 0;
  }
  .feed__items .slick-prev{
    display: none;
  }
  .feed__items .slick-next{
    display: none;
  }
  .stat {
    padding: 60px 0;
  }
  .stat__item .sale::before,
  .stat__item .sales::before,
  .stat__item .customers::before,
  .stat__item .members::before {
    font-size: 40px;
  }
  .stat__item {
    font-size: 30px;
  }
  .stat__item-text {
    font-size: 15px;
  }
  .stat__item {
    width: 125px;
  }
  .stat__item-num {
    padding-top: 85px;
  }
  .progress {
    padding: 100px 0;
  }
  .title__box-title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .title__box-text {
    margin: 0 auto 40px;
    font-size: 14px;
    line-height: 28px;
  }
  .progress__item-num {
    font-size: 30px;
  }
  .progress__item-title {
    font-size: 22px;
    padding-top: 110px;
    margin-bottom: 20px;
  }
  .progress__item-text{
    font-size: 14px;
    line-height: 28px;
  }
  .progress__item {
    padding: 20px 15px 20px;
  }
  .progress__item {
    max-width: 46%;
  }
  .shop__item {
    min-height: 480px;
    padding: 80px 0;
  }
  .shop__item-img {
    margin-bottom: 30px;
  }
  .shop__item-title {
    padding: 0 10px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .shop__item-text {
    padding: 0 20px;
    line-height: 28px;
    font-size: 14px;
    margin: 0 auto 30px;
  }
  .shop__item-btn {
    width: 170px;
    font-size: 14px;
    padding: 7px 0;
  }
  .feedback {
    padding: 90px 0 100px;
  }
  .feedback__item {
    padding: 30px 15px 30px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.08);
    border-left: 2px solid #0674ec;
  }
  .feedback__item-name {
    font-size: 18px;
  }
  .feedback__item-prof{
    font-size: 14px;
  }
  .feedback__item-text{
    line-height: 28px;
    font-size: 14px;
  }
  .feedback__btn {
    margin-top: 40px;
  } 
  .feedback__btn a {
    width: 170px;
    font-size: 14px;
    padding: 9px 0;
  }
  .feedback__box-text{
    margin-bottom: 20px;
  }
  .news {
    padding: 90px 0 100px;
  }
  .news__item {
    margin-bottom: 20px;
  }
  .news__item-wrapper {
    padding: 10px 10px 0;
  }
  .news__item-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .news__item-text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 28px;
  }
  .news__item-bottom {
    padding: 10px 10px;
    height: 50px;
  }
  .news__item-date,
  .news__item-comments,
  .news__item-views {
    font-size: 14px;
  }
}
@media (max-width: 710px){
  .header__icon.icon-cart,
  .header__icon-notification,
  .message-box{
    display: none;
  }
}
@media (max-width: 620px){
  .products__item.mix {
    flex-basis: calc(100% - 25px);
  }
  .products__btn button {
    width: 107px;
  }
  .products__btn button {
    padding: 6px 0;
  }
  .products__btn-bot button {
    width: 150px;
    padding: 10px 0;
  }
  div.products__item {
    margin-left: 8px;
  }
  .news__item {
    max-width: 100%;
  }
}
@media (max-width: 600px){
  .search__inner-title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .search__inner-form {
    height: 165px;
  }
  .search__inner-form form {
    flex-wrap: wrap;
    padding-top: 25px;
  }
  .search__inner-form form select {
    margin-right: 0;
    width: 42%;
    height: 50px;
    padding-right: 0;
  }
  .search__inner-form form button {
    margin-top: 15px;
    height: 50px;
  }
  .search__inner-form form input{
    width: 58%;
    height: 50px;
  }
  .progress__item {
    padding: 20px 6px 20px;
  }
}
@media (max-width: 550px){
  .header__icon-message{
    display: none;
  }
  .products-slider__img {
    min-height: 250px;
  }
  .products-slider__text {
    line-height: 20px;
  }
  .products__item-info {
    margin-bottom: 10px;
  }
  .progress__item {
    max-width: 100%;
  }
}
@media (max-width: 527px){
  .products__btn {
    height: 115px;
    padding-bottom: 2px;
    padding-top: 2px;
  }
  div.products__item {
    margin-left: 7px;
  }
  .stat {
    padding: 20px 0;
  }
  .stat__items {
    flex-wrap: wrap;
  }
  .stat__item {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media (max-width: 460px){
  .container {
    padding: 0px 5px;
  }
  .container-fluide {
    padding: 0 5px;
  }
  .header__user-info{
    display: none;
  }
  .header__user-avatar{
    margin-right: 0;
  }
  .header__form{ 
    input{
      height: 40px;
      width: 243px;
      padding-left: 10px;
      padding-right: 69px;
      font-size: 12px;
      &::placeholder{
        font-size: 12px;
      }
    }
    button{
      height: 40px;
      width: 60px;
    }
  }
  .title {
    line-height: 30px;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    margin-bottom: 20px;
  }
  .products-slider__info-title {
    font-size: 20px;
  }
  .products-slider__info {
    padding: 10px 10px 15px 10px;
  }
  .feed__items .slick-prev{
    display: none !important;
  }
  .feed__items .slick-next{
    display: none !important;
  }
  .shop__item-text {
    padding: 0px 10px;
  }
  .feedback__item {
    padding: 30px 10px 30px;
  }
}
@media (max-width: 415px){
  .search__inner a {
    width: 100%;
    margin-bottom: 0;
  }
  .search__inner a+a {
    margin-left: 0;
    margin-top: 10px;
  }
  .search__inner-form {
    bottom: -210px;
  }
  .search__inner-form {
    padding-right: 6px;
    padding-left: 6px;
  }
  .search__inner-form form input {
    padding-left: 5px;
    padding-right: 5px;
  }
  .search__inner-form form select {
    padding-left: 5px;
  }
  .products-slider__hashtag{
    padding-left: 10px;
    padding-right: 10px;
  }
  .products-slider__price{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 30px;
  }
  .products-slider__likes{
     margin-right: 30px;
  }
  .products__btn button {
    font-size: 12px;
  }
  .products__btn button {
    width: 88px;
  }
  div.products__item {
    margin-left: 5px;
  }
  .feedback__item-box::before {
    display: none;
  }
}
@media (max-width: 353px){
  .products__btn {
    height: 130px;
  }
}

@media (min-width: 901px){
  .menu__list{
    display: flex !important;
  }
}