@media (max-width: 1200px){
  .search__inner-form__wrapper::before,
  .search__inner-form__wrapper::after{
    display: none;
  }
  .search__inner-form{
    padding-right: 20px;
    padding-left: 20px;
  }
  .products__item-hover__wrapper:hover .item-hover__btn-demo {
    right: 30px;
  }
  .products__item-hover__wrapper:hover .item-hover__btn-more {
    left: 30px;
  }
  .products__btn button {
    padding: 7px 14px;
  }
}
@media (max-width: 1045px){
  .products__item {
    max-width: 100%;
    flex-basis: calc(50% - 25px);
  }
  .products__item-img {
    max-width: 100%;
  }
  .products__item-img:hover .products__item-hover {
    display: none;
  }
}
@media (max-width: 1030px){
  .products-slider__img{
    max-width: 500px;
  }
  .products-slider__info{
    padding: 45px 30px 24px 30px;
  }
  .products__btn {
    flex-wrap: wrap;
  }
  .products__btn button {
    width: 126px;
  }
}
@media (max-width: 930px){
  .products-slider__info{
    padding: 35px 20px 24px 20px;
  }
  .products-slider__img{
    max-width: 450px;
    min-height: 0;
  }
  .products-slider__info-title{
    margin-bottom: 15px;
  }
  .products-slider__info-user {
    margin-bottom: 20px;
  }
  .products-slider__text {
    margin-bottom: 20px;
  }
  .products-slider__hashtag {
    margin-bottom: 50px;
  }
}
@media (max-width: 900px){
  .menu__list{
    z-index: 5;
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    left: 0;
    border-top: 1px solid #000;
    top: 80px;
    li + li{
      margin-left: 0;
    }
    a{
      display: block;
      height: 40px;
      text-align: center;
      border-bottom: 1px solid #000;
      padding-top: 5px;
      .header__menu-box{
        top: 39px;
      }
    }
  }
  .header__menu-box{
    display: none;
  }
  .menu__btn{
    display: block;
  }
  .header__btn{
    display: none;
  }
  .header__icons{
    margin-left: auto;
  }
}
@media (max-width: 870px){
  .search__inner-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .search__inner-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 50px;
  }
  .search {
    min-height: 630px;
  }
  .search__inner {
    padding-top: 140px;
  }
  .search__inner a {
    margin-bottom: 140px;
  }
  .advantages__item { 
    padding: 20px 10px;
  }
  .products-slider__item {
    display: block;
  }
  .products-slider__img {
    max-width: 100%;
    min-height: 450px;
  }
  .products-slider__info {
    max-width: 100%;
  }
  .products-slider__info::before {
    max-width: 100%;
  }
  .products__btn {
    justify-content: center;
  }
  .products__btn button:last-child {
    margin-right: 10px;
  }
}
@media (max-width: 730px){
  .search__inner-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .search__inner-text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 40px;
  }
  .search__inner a {
    line-height: 14px;
    width: 165px;
    font-size: 14px;
    margin-bottom: 100px;
  }
  .search__inner {
    padding-top: 100px;
  }
  .search {
    min-height: 505px;
  }
  .search__inner-form form input{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    &::placeholder{
      font-size: 14px;
    }
  }
  .search__inner-form form select{
    padding-left: 15px;
    max-width: 150px;
    font-size: 14px;
  }
  .search__inner-form form button {
    max-width: 130px;
    font-size: 14px;
  }
  .advantages__item-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .advantages__item-text{
    font-size: 14px;
    line-height: 28px;
  }
  .search{
    margin-bottom: 130px;
  }
  .advantages {
    padding-bottom: 100px;
  }
  .advantages__items {
    flex-wrap: wrap;
  }
  .advantages__item {
    max-width: 100%;
  }
  .products-slider__inner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .title {
    margin-bottom: 40px;
    font-size: 28px;
    height: 90px;
  }
  .products-slider__items .slick-next,
  .products-slider__items .slick-prev{
    display: none !important;
  }
  .products-slider__info-title {
    font-size: 22px;
  }
  .info-user__name,
  .info-user__tool-text,
  .products-slider__text,
  .products-slider__hashtag,
  .products-slider__price,
  .products-slider__likes::before,
  .products-slider__likes,
  .products-slider__cart::before,
  .products-slider__cart {
    font-size: 14px;
  }
  .products-slider__text{
    line-height: 28px;
  }
  .products-slider__inner-box {
    display: none;
  }
  .products-slider__info {
    padding: 20px 20px 24px 20px;
  }
  .products-slider__img {
    min-height: 350px;
  }
  .products-slider__info {
    padding: 15px 20px 15px 20px;
  }
  .products-slider__info-title {
    margin-bottom: 10px;
  }
  .products-slider__info-user {
    margin-bottom: 10px;
  }
  .products-slider__text {
    margin-bottom: 10px;
  }
  .products-slider__hashtag {
    margin-bottom: 30px;
  }
  .products-slider__info::before {
    bottom: 60px;
  }
  .products__btn button {
    font-size: 14px;
  }
  .products__item-title {
    font-size: 18px;
  }
  .products__item-text{
    font-size: 14px;
    line-height: 28px;
  }
  .products__item-likes,
  .products__item-cart {
    font-size: 14px;
    padding-left: 25px;
  }
  .products__item-price {
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 13px;
  }
  .products__item-wrapper {
    padding: 15px;
  }
  .products__item-bottom__box {
    padding: 0 15px;
  }
  .products__item-likes::before,
  .products__item-cart::before {
    right: 25px;
  }
  .products__btn {
    padding-left: 15px;
    padding-right: 15px;
  }
  .products {
    padding: 100px 0;
  }
  .products__btn-bot {
    margin-top: 30px;
  }
  .products__btn-bot button {
    font-size: 14px;
  }
}
@media (max-width: 710px){
  .header__icon.icon-cart,
  .header__icon-notification,
  .message-box{
    display: none;
  }
}
@media (max-width: 620px){
  .products__item {
    flex-basis: calc(100% - 25px);
  }
  .products__btn button {
    width: 107px;
  }
  .products__btn button {
    padding: 6px 0;
  }
  .products__btn-bot button {
    width: 150px;
    padding: 10px 0;
  }
}
@media (max-width: 600px){
  .search__inner-title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .search__inner-form {
    height: 165px;
  }
  .search__inner-form form {
    flex-wrap: wrap;
    padding-top: 25px;
  }
  .search__inner-form form select {
    margin-right: 0;
    width: 42%;
    height: 50px;
    padding-right: 0;
  }
  .search__inner-form form button {
    margin-top: 15px;
    height: 50px;
  }
  .search__inner-form form input{
    width: 58%;
    height: 50px;
  }
}
@media (max-width: 550px){
  .header__icon-message{
    display: none;
  }
  .products-slider__img {
    min-height: 250px;
  }
  .products-slider__text {
    line-height: 20px;
  }
  .products__item-info {
    margin-bottom: 10px;
  }
}
@media (max-width: 527px){
  .products__btn {
    height: 115px;
    padding-bottom: 2px;
    padding-top: 2px;
  }
}
@media (max-width: 460px){
  .header__user-info{
    display: none;
  }
  .header__user-avatar{
    margin-right: 0;
  }
  .header__form{ 
    input{
      height: 40px;
      width: 243px;
      padding-left: 10px;
      padding-right: 69px;
      font-size: 12px;
      &::placeholder{
        font-size: 12px;
      }
    }
    button{
      height: 40px;
      width: 60px;
    }
  }
  .title {
    line-height: 30px;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    margin-bottom: 20px;
  }
  .products-slider__info-title {
    font-size: 20px;
  }
  .products-slider__info {
    padding: 10px 10px 15px 10px;
  }
}
@media (max-width: 415px){
  .search__inner a {
    width: 100%;
    margin-bottom: 0;
  }
  .search__inner a+a {
    margin-left: 0;
    margin-top: 10px;
  }
  .search__inner-form {
    bottom: -210px;
  }
  .search__inner-form {
    padding-right: 6px;
    padding-left: 6px;
  }
  .search__inner-form form input {
    padding-left: 5px;
    padding-right: 5px;
  }
  .search__inner-form form select {
    padding-left: 5px;
  }
  .products-slider__hashtag{
    padding-left: 10px;
    padding-right: 10px;
  }
  .products-slider__price{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 30px;
  }
  .products-slider__likes{
     margin-right: 30px;
  }
  .products__btn button {
    font-size: 12px;
  }
  .products__btn button {
    width: 88px;
  }
}
@media (max-width: 353px){
  .products__btn {
    height: 130px;
  }
}

@media (min-width: 901px){
  .menu__list{
    display: flex !important;
  }
}