@import 'vars';
@import 'global';
@import 'fonts';




// START HEADER               
// ===================================================
.header__top{
  background-color: #eef1f3;
  height: 100px;
  align-items: center;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}
.header__btn{
  margin-left: auto;
  margin-right: 50px;
  width: 140px;
  background-color: $btn;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding-top: 12px;
  padding-bottom: 11px;
}
.header__user-box{
  display: flex;
  align-items: center;
}
.header__user-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 22px;
}
.header__user-name{
  line-height: 22px;
  color: #333;
  font-weight: 500;
}
.header__user-money{
  font-size: 15px;
  line-height: 22px;
  color: $btn;
}
.header__menu-inner{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.menu__list{
  display: flex;
  li{
    & + li{
      margin-left: 32px;
    }
  }
  a{
    font-size: 15px;
    color: #333;
    font-weight: 500;
  }
}
.header__form{
  position: relative;
  input{
    height: 46px;
    border-radius: 22px;
    border: 1px solid #d9dfe5;
    outline: none;
    width: 360px;
    padding-left: 25px;
    padding-right: 97px;
    color: #898f96;
    font-size: 15px;
    font-weight: 400;

    &::placeholder{
      color: #898f96;
      font-size: 15px;
      font-weight: 400;
    }
  }
  button{
    background-color: $btn;
    outline: none;
    border: none;
    width: 72px;
    height: 46px;
    border-radius: 22px;
    position: absolute;
    right: 0;
    cursor: pointer;
    &::before{
      content: "\e900";
      font-family: 'icomoon';
      font-size: 15px;
      color: #fff;
    }
  }
}
// END HEADER               
// ===================================================

// START SEARCH               
// ===================================================
.search{
  min-height: 728px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 190px;
}
.search__inner{
  text-align: center;
  padding-top: 166px;
  position: relative;
  &-title{
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
    span{
      display: block;
      font-weight: 700;
    }
  }
  &-text{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 65px;
  }
  a{
    line-height: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    width: 190px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .3s;
    margin-bottom: 166px;
    & + a{
      margin-left: 30px;
    }
    &:hover{
      background-color: #fff;
      color: $btn;
    }
  }
  &-form{
    background-color: #fff;
    max-width: 1142px;
    height: 136px;
    position: absolute;
    bottom: -154px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    padding-right: 10px;
    padding-left: 10px;
    z-index: 1;
    form{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      position: relative;
      // &::before{
      //   content: "";
      //   position: absolute;
      //   border-radius: 6px;
      //   opacity: 0.502;
      //   width: 1110px;
      //   height: 135px;
      //   background-color: #fff;
      // }
      input{
        max-width: 610px;
        height: 55px;
        width: 100%;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border: none;
        border: 1px solid #dcdcdc;
        padding-left: 30px;
        padding-right: 30px;
        color: #676767;
        &::placeholder{
          color: #676767;
        }
      }
      select{
        height: 55px;
        max-width: 195px;
        width: 100%;
        margin-right: 30px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #dcdcdc;
        border-left: none;
        color: #676767;
        padding-left: 20px;
        padding-right: 20px;
      }
      button{
        height: 55px;
        max-width: 223px;
        width: 100%;
        color: #fff;
        background-color: $btn;
        border: none;
        border-radius: 3px;
      }
    }
  }
}
.search__inner-form__wrapper{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    border-radius: 6px;
    opacity: 0.502;
    max-width: 1110px;
    height: 135px;
    right: 0;
    top: -13px;
    left: 6px;
    background-color: #fff;
  }
  &::after{
    content: "";
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.502;
    position: absolute;
    max-width: 1080px;
    height: 135px;
    top: -26px;
    left: 21px;
    right: 0;
    z-index: -1;
  }
}
// END SEARCH               
// ===================================================

// START ADVANTAGES               
// ===================================================
.advantages{
  padding-bottom: 122px;
}
.advantages__items{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  text-align: center;
  max-width: 362px;
  padding: 40px 35px;
  transition: all .3s;
  &-img{
    width: 113px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 15px;
  }
  &:hover{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
// END ADVANTAGES               
// ===================================================

// START PRODUCTS SLIDER               
// ===================================================
.products-slider{
  background-color: $bg;
}
.products-slider__inner{
  padding-top: 120px;
  padding-bottom: 120px;
}
.products-slider__inner-box{
  width: 110px;
  height: 45px;
  background-color: #7347c1;
  border-radius: 25px;
}
.products-slider__item{
  display: flex;
  
}
.products-slider__items .slick-prev{
  font-size: 0;
  width: 10px;
  height: 20px;
  background: transparent;
  background-image: url(../images/products-slider/left.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -115px;
  right: 102px;
  outline: none;
  cursor: pointer;
}
.products-slider__items .slick-next{
  font-size: 0;
  width: 10px;
  height: 20px;
  background: transparent;
  background-image: url(../images/products-slider/right.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -115px;
  right: 55px;
  outline: none;
  cursor: pointer;
}
.products-slider__img{
  max-width: 555px;
  width: 100%;
  min-height: 450px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.products-slider__info{
  max-width: 585px;
  background-color: #fff;
  padding: 45px 62px 24px 50px;
  position: relative;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  &::before{
    content: "";
    height: 1px;
    max-width: 484px;
    background-color: #ececec;
    position: absolute;
    left: 45px;
    right: 0;
    bottom: 80px;
  }
}
.products-slider__info-title{
  font-size: 24px;
  color: #000;
  font-weight: 500;
  margin-bottom: 16px;
}
.products-slider__info-user{
  display: flex;
  margin-bottom: 30px;
}
.info-user__img{
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.info-user__name{
  margin-right: 20px;
  font-size: 15px;
  color: #000;
}
.info-user__tool{
  display: flex;
  align-items: center;
  &-img{
    width: 17px;
    height: 17px;
    margin-right: 8px;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-text{
    font-size: 15px;
    color: #7347c1;
  }
}
.products-slider__text{
  margin-bottom: 35px;
}
.products-slider__hashtags{
  display: flex;
}
.products-slider__hashtag{
  font-size: 15px;
  color: #868c96;
  padding-left: 17px;
  padding-right: 17px;
  height: 28px;
  border-radius: 12px;
  background-color: #f1f3f6;
  text-align: center;
  margin-bottom: 68px;
  & + .products-slider__hashtag{
    margin-left: 7px;
  }
}
.products-slider__bottom-wrapper{
  display: flex;
  align-items: center;
}
.products-slider__bottom-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-slider__price{
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: $btn;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 15px;
  margin-right: 45px;
}
.products-slider__likes{
  font-size: 15px;
  margin-right: 43px;
  position: relative;
  font-family: 'Quicksand', sans-serif !important;
  &::before{
    color: #7347c1;
    font-size: 15px;
    right: 24px;
    position: absolute;
    font-family: 'icomoon';
  }
}
.products-slider__cart{
  font-size: 15px;
  color: $btn;
  position: relative;
  font-family: 'Quicksand', sans-serif !important;
  &::before{
    color: $btn;
    font-size: 15px;
    right: 29px;
    position: absolute;
    font-family: 'icomoon';
  }
}
// END PRODUCTS SLIDER               
// ===================================================

// START PRODUCTS              
// ===================================================
.products{
  background-color: #f6f7fb;
  padding: 120px 0;
}
.products__title{
  margin-bottom: 30px;
}
.products__btn{
  height: 92px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 30px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  margin-bottom: 50px;
  button{
    padding: 7px 20px;
    border: none;
    border-radius: 15px;
    background-color: #f1f3f6;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: #747b86;
    & + button{
      margin-left: 10px;
    }
    &.mixitup-control-active{
      color: #fff;
      background-color: $btn;
    }
  }
}
.products__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__item{
  max-width: 361px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 31px;
  &-img{
    max-width: 361px;
    min-height: 260px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    overflow: hidden;
    &:hover .products__item-hover{
    transform: translateY(0);
    }
  }
  &-wrapper{
    padding: 30px;
  }
  &-info{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
}
.products__item-title{
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.products__item-bottom__box{
  height: 62px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ececec;
  justify-content: space-between;
}
.products__item-price{
  background-color: #e6f1fd;
  font-size: 15px;
  font-weight: 500;
  color: $btn;
  padding: 1px 15px;
  border-radius: 15px;
}
.products__item-likes{
  font-size: 15px;
  color: #6f7d8d;
  position: relative;
  &::before{
    position: absolute;
    content: "\e905";
    font-size: 15px;
    font-family: 'icomoon';
    right: 27px;
    color: #7f4ec2;
  }
}
.products__item-cart{
  font-size: 15px;
  color: $btn;
  position: relative;
  &::before{
    position: absolute;
    content: "\e904";
    font-size: 15px;
    font-family: 'icomoon';
    right: 27px;
    color: $btn;
    top: -1px;
  }
}
.products__item-hover{
  position: absolute;
  transform: translateY(-150%);
  transition: all .5s;
}
.products__item-hover__wrapper{
  position: relative;
  max-width: 361px;
  width: 100%;
  height: 260px;
  overflow: hidden;
  transition: all .6s;
  &:hover .item-hover__btn-more{
    left: 40px;
  }
  &:hover .item-hover__btn-demo{
    right: 40px;
  }
  img{
    max-width: 361px;
    width: 100%;
    height: 260px;
  }
  a{
    position: absolute;
    display: block;   
    color: #fff; 
    font-size: 15px;
    font-weight: 500;
    padding: 8px 0;
    width: 130px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    &:hover{
      color: $btn;
      background-color: #fff;
    }
  }
}
.item-hover__btn-more{
  left: -400px;
}
.item-hover__btn-demo{
  right: -400px;
}
.products__btn-bot{
  margin-top: 60px;
  text-align: center;
  button{
    color: #747b86;
    border: none;
    width: 190px;
    background-color: #f1f3f6;
    padding: 14px 0;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: #fff;
      background-color: $btn;
    }
    &.mixitup-control-active{
      color: #fff;
      background-color: $btn;
    }
  } 
}
// END PRODUCTS             
// ===================================================





@import 'media';