@import 'vars';
@import 'global';
@import 'fonts';




// START HEADER               
// ===================================================
.header__top{
  background-color: #eef1f3;
  height: 100px;
  align-items: center;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}
.header__btn{
  margin-left: auto;
  margin-right: 50px;
  width: 140px;
  background-color: $btn;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding-top: 12px;
  padding-bottom: 11px;
}
.header__user-box{
  display: flex;
  align-items: center;
}
.header__user-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 22px;
}
.header__user-name{
  line-height: 22px;
  color: #333;
  font-weight: 500;
}
.header__user-money{
  font-size: 15px;
  line-height: 22px;
  color: $btn;
}
.header__menu-inner{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.menu__list{
  display: flex;
  li{
    & + li{
      margin-left: 32px;
    }
  }
  a{
    font-size: 15px;
    color: #333;
    font-weight: 500;
  }
}
.header__form{
  position: relative;
  input{
    height: 46px;
    border-radius: 22px;
    border: 1px solid #d9dfe5;
    outline: none;
    width: 360px;
    padding-left: 25px;
    padding-right: 97px;
    color: #898f96;
    font-size: 15px;
    font-weight: 400;

    &::placeholder{
      color: #898f96;
      font-size: 15px;
      font-weight: 400;
    }
  }
  button{
    background-color: $btn;
    outline: none;
    border: none;
    width: 72px;
    height: 46px;
    border-radius: 22px;
    position: absolute;
    right: 0;
    cursor: pointer;
    &::before{
      content: "\e900";
      font-family: 'icomoon';
      font-size: 15px;
    }
  }
}
// END HEADER               
// ===================================================

// START SEARCH               
// ===================================================
.search{
  min-height: 728px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 190px;
}
.search__inner{
  text-align: center;
  padding-top: 166px;
  position: relative;
  &-title{
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
    span{
      display: block;
      font-weight: 700;
    }
  }
  &-text{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 65px;
  }
  a{
    line-height: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    width: 190px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .3s;
    margin-bottom: 166px;
    & + a{
      margin-left: 30px;
    }
    &:hover{
      background-color: #fff;
      color: $btn;
    }
  }
  &-form{
    background-color: #fff;
    max-width: 1142px;
    height: 136px;
    position: absolute;
    bottom: -154px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    padding-right: 10px;
    padding-left: 10px;
    z-index: 1;
    form{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      position: relative;
      // &::before{
      //   content: "";
      //   position: absolute;
      //   border-radius: 6px;
      //   opacity: 0.502;
      //   width: 1110px;
      //   height: 135px;
      //   background-color: #fff;
      // }
      input{
        max-width: 610px;
        height: 55px;
        width: 100%;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border: none;
        border: 1px solid #dcdcdc;
        padding-left: 30px;
        padding-right: 30px;
        color: #676767;
        &::placeholder{
          color: #676767;
        }
      }
      select{
        height: 55px;
        max-width: 195px;
        width: 100%;
        margin-right: 30px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #dcdcdc;
        border-left: none;
        color: #676767;
        padding-left: 20px;
        padding-right: 20px;
      }
      button{
        height: 55px;
        max-width: 223px;
        width: 100%;
        color: #fff;
        background-color: $btn;
        border: none;
        border-radius: 3px;
      }
    }
  }
}
.search__inner-form__wrapper{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    border-radius: 6px;
    opacity: 0.502;
    max-width: 1110px;
    height: 135px;
    right: 0;
    top: -13px;
    left: 6px;
    background-color: #fff;
  }
  &::after{
    content: "";
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.502;
    position: absolute;
    max-width: 1080px;
    height: 135px;
    top: -26px;
    left: 21px;
    right: 0;
    z-index: -1;
  }
}
// END SEARCH               
// ===================================================

// START ADVANTAGES               
// ===================================================
.advantages{
  padding-bottom: 122px;
}
.advantages__items{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  text-align: center;
  max-width: 362px;
  padding: 40px 35px;
  transition: all .3s;
  &-img{
    width: 113px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 15px;
  }
  &:hover{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
// END ADVANTAGES               
// ===================================================


@import 'media';