@import 'vars';
@import 'global';
@import 'fonts';




// START HEADER               
// ===================================================
.header__top{
  background-color: #eef1f3;
  height: 100px;
  align-items: center;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__btn{
  margin-left: auto;
  margin-right: 50px;
  width: 140px;
  background-color: $btn;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding-top: 12px;
  padding-bottom: 11px;
}
.header__icons{
  display: flex;
  margin-right: 50px;
}
.header__icon{
  width: 35px;
  height: 100px;
  position: relative;
  cursor: pointer;
  & + .header__icon{
    margin-left: 15px;
  }
  &::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #7e8fa1;
  }
  &-circle{
    position: absolute;
    width: 26px;
    height: 22px;
    border-radius: 50%;
    top: 24px;
    right: -7px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blue{
    background-color: $btn;
  }
  .green{
    background-color: #62d03b;
  }
  .red{
    background-color: #ff6a6c;
  }
}
.header__icon-notification:hover .notification-box{
  height: auto;
  min-height: 100%;
  overflow: visible;
  border-width: 1px;
}
.notification-box{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  width: 370px;
  position: absolute;
  top: 100px;
  right: -14px;
  border-top: 0px solid $btn;
  font-family: 'Quicksand', sans-serif;
  z-index: 5;
  padding: 0 20px;
  height: 0;
  overflow: hidden;
  &::before{
    content: "\e91d";
    font-family: 'icomoon';
    color: $btn;
    font-size: 30px;
    position: absolute;
    top: -19px;
    right: 18px;
  }
}
.notification__top{
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  &-title{
    color: #000000;
    font-size: 18px;
    line-height: 20px;
  }
  &-view{
    font-size: 18px;
    line-height: 18px;
    color: $btn;
  }
}
.notification__item{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8ebf0;
  height: 100px;
  align-items: center;
  &-img{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &-box{
    width: 225px;
    line-height: 18px;
  }
  &-name{
    font-weight: 500;
    color: #333333;
    display: inline-block;
    margin-bottom: 4px;
  }
  span{
    color: #747a86;
    font-size: 15px;
  }
  &-product{
    color: $btn;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 7px;
  }
  &-time{
    color: #747a86;
  }
  &-icon{
    width: 33px;
    height: 33px;
    border-radius: 50%;
  }
  .icon-blue{
    background-color: #e6f1fd;
    position: relative;
    &::before{
      content: "\e905";
      font-family: "icomoon";
      font-size: 15px;
      color: $btn;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .icon-purple{
    background-color: #f1ecf9;
    position: relative;
    &::before{
      content: "\e90a";
      font-family: "icomoon";
      font-size: 15px;
      color: #7347c1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .icon-red{
    background-color: #fff0f0;
    position: relative;
    &::before{
      content: "\e904";
      font-family: "icomoon";
      font-size: 15px;
      color: #ff6a6c;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .icon-green{
    background-color: #effaeb;
    position: relative;
    &::before{
      content: "\e902";
      font-family: "icomoon";
      font-size: 15px;
      color: #62d03a;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.header__icon-message:hover .message-box{
  height: auto;
  min-height: 100%;
  overflow: visible;
  border-width: 1px;
}
.message-box{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  width: 370px;
  position: absolute;
  top: 100px;
  z-index: 5;
  right: -14px;
  border-top: 0px solid $btn;
  cursor: auto;
  font-family: 'Quicksand', sans-serif;
  height: 0;
  overflow: hidden;
  // transition: all .3s;
  &::before{
    content: "\e91d";
    font-family: 'icomoon';
    color: $btn;
    font-size: 30px;
    position: absolute;
    top: -19px;
    right: 18px;
  }
}
.message-box__name{
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
  padding: 0 24px;
  font-size: 18px;
  color: #000;
  a{
    font-size: 18px;
    color: $btn;
  }
}
.message-box__item{
  display: flex;
  border-top: 1px solid #e8ebf0;
  padding: 0 24px;
  height: 82px;
  align-items: center;
  cursor: pointer;
  &-img{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 12px;
  }
  &-name{
    font-weight: 500;
    color: #333333;
    font-size: 16px;
    margin-bottom: 15px;
    display: inline-block;
    padding-right: 30px;
    position: relative;
    &::before{
      content: "\e916";
      position: absolute;
      right: 0;
      font-family: 'icomoon';
      font-size: 15px;
      color: $btn;
    }
  }
  &-wrapper{
    position: relative;
    width: 266px;
  }
  &-text{
    font-size: 15px;
    color: #555555;
  }
  &-time{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: $btn;
  }
  .old{
    color: #747a86;
  }
}
.header__user-box{
  display: flex;
  align-items: center;
  position: relative;
  transition: all .3s;
  height: 100px;
  cursor: pointer;
  &:hover .user__menu{
    border-width: 1px;
    height: auto;
    overflow: visible;
    padding: 20px;
  }
}
.user__menu{
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  width: 270px;
  z-index: 5;
  top: 100px;
  right: 0;
  padding: 0;
  border-top: 0 solid $btn;
  height: 0;
  overflow: hidden;
  transition: all .3s;
  &::before{
    content: "\e91d";
    font-family: 'icomoon';
    color: $btn;
    font-size: 30px;
    position: absolute;
    top: -19px;
    right: 20px;
  }
  a{
    font-size: 15px;
    padding: 7px 0 7px 40px;
    color: #54667a;
    transition: all .3s;
    display: block;
    font-family: 'Quicksand', sans-serif !important;
    position: relative;
    line-height: 30px;
    &::before{
      font-family: 'icomoon';
      position: absolute;
      left: 10px;
      font-size: 15px;
    }
    &:hover{
      color: #fff;
      background-color: $btn;
    }
  }
}
.header__menu-box{
  position: absolute;
  background-color: #fff;
  padding: 0px;
  width: 270px;
  top: 80px;
  transition: all .4s;
  border-top: 0px solid #0674ec;
  z-index: 5;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
}
.menu-box__item{
  color: #54667a;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  height: 0;
  overflow: hidden;
  transition: all .3s;
  &:hover{
    color: #fff;
    background-color: $btn;
  }
}
.pages__box{
  position: absolute;
  // display: flex;
  background-color: #fff;
  padding: 0px;
  top: 80px;
  transition: all .4s;
  border-top: 0px solid #0674ec;
  z-index: 5;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  height: 0;
  overflow: hidden;
  &-wrapper + &-wrapper{
    margin-left: 40px;
  }
  &-wrapper{
    // height: 0;
    // overflow: hidden;
  }
  &-title{
    font-weight: 500;
    color: #000;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8ebf0;
    margin-bottom: 25px;
  }
  &-list{
    display: flex;
    ul + ul {
      margin-left: 35px;
    }
    a{
      margin-bottom: 15px;
      color: #54667a;
      font-size: 15px;
      padding-right: 30px;
    }
  }
}

.header__user-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 22px;
}
.header__user-name{
  line-height: 22px;
  color: #333;
  font-weight: 500;
}
.header__user-money{
  font-size: 15px;
  line-height: 22px;
  color: $btn;
}
.header__menu-inner{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  position: relative;
}
.menu__btn{
  display: none;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  div{
    height: 3px;
    width: 30px;
    background-color: #000;
    & + div{
      margin-top: 5px;
    }
  }
}
.menu__list{
  display: flex;
  li{
    & + li{
      margin-left: 32px;
    }
  }
  a{
    font-size: 15px;
    color: #333;
    font-weight: 500;
    position: relative;
    display: flex;
    height: 80px;
    align-items: center;
    &:hover .header__menu-box{
      padding: 20px;
      border-width: 1px;
      .menu-box__item{
        height: 44px;
      }
    }
  }
}
// .menu-pages:hover .pages__box{
//   padding: 20px;
//   border-width: 1px;
//   .pages__box-wrapper{
//     height: auto;
//     overflow: visible;
//   }
// }


.header__form{
  position: relative;
  input{
    height: 46px;
    border-radius: 22px;
    border: 1px solid #d9dfe5;
    outline: none;
    width: 360px;
    padding-left: 25px;
    padding-right: 97px;
    color: #898f96;
    font-size: 15px;
    font-weight: 400;

    &::placeholder{
      color: #898f96;
      font-size: 15px;
      font-weight: 400;
    }
  }
  button{
    background-color: $btn;
    outline: none;
    border: none;
    width: 72px;
    height: 46px;
    border-radius: 22px;
    position: absolute;
    right: 0;
    cursor: pointer;
    &::before{
      content: "\e900";
      font-family: 'icomoon';
      font-size: 15px;
      color: #fff;
    }
  }
}
// END HEADER               
// ===================================================

// START SEARCH               
// ===================================================
.search{
  min-height: 728px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 190px;
}
.search__inner{
  text-align: center;
  padding-top: 166px;
  position: relative;
  &-title{
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
    span{
      display: block;
      font-weight: 700;
    }
  }
  &-text{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 65px;
  }
  a{
    line-height: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    width: 190px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .3s;
    margin-bottom: 166px;
    & + a{
      margin-left: 30px;
    }
    &:hover{
      background-color: #fff;
      color: $btn;
    }
  }
  &-form{
    background-color: #fff;
    max-width: 1142px;
    height: 136px;
    position: absolute;
    bottom: -154px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    padding-right: 10px;
    padding-left: 10px;
    z-index: 1;
    form{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      position: relative;
      // &::before{
      //   content: "";
      //   position: absolute;
      //   border-radius: 6px;
      //   opacity: 0.502;
      //   width: 1110px;
      //   height: 135px;
      //   background-color: #fff;
      // }
      input{
        max-width: 610px;
        height: 55px;
        width: 100%;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border: none;
        border: 1px solid #dcdcdc;
        padding-left: 30px;
        padding-right: 30px;
        color: #676767;
        &::placeholder{
          color: #676767;
        }
      }
      select{
        height: 55px;
        max-width: 195px;
        width: 100%;
        margin-right: 30px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #dcdcdc;
        border-left: none;
        color: #676767;
        padding-left: 20px;
        padding-right: 20px;
      }
      button{
        height: 55px;
        max-width: 223px;
        width: 100%;
        color: #fff;
        background-color: $btn;
        border: none;
        border-radius: 3px;
      }
    }
  }
}
.search__inner-form__wrapper{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    border-radius: 6px;
    opacity: 0.502;
    max-width: 1110px;
    height: 135px;
    right: 0;
    top: -13px;
    left: 6px;
    background-color: #fff;
  }
  &::after{
    content: "";
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.502;
    position: absolute;
    max-width: 1080px;
    height: 135px;
    top: -26px;
    left: 21px;
    right: 0;
    z-index: -1;
  }
}
// END SEARCH               
// ===================================================

// START ADVANTAGES               
// ===================================================
.advantages{
  padding-bottom: 122px;
}
.advantages__items{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  text-align: center;
  max-width: 362px;
  padding: 40px 35px;
  transition: all .3s;
  &-img{
    width: 113px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 15px;
  }
  &:hover{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
// END ADVANTAGES               
// ===================================================

// START PRODUCTS SLIDER               
// ===================================================
.products-slider{
  background-color: $bg;
}
.products-slider__inner{
  padding-top: 120px;
  padding-bottom: 120px;
}
.products-slider__inner-box{
  width: 110px;
  height: 45px;
  background-color: #7347c1;
  border-radius: 25px;
}
.products-slider__item{
  display: flex;
  
}
.products-slider__items .slick-prev{
  font-size: 0;
  width: 10px;
  height: 20px;
  background: transparent;
  background-image: url(../images/products-slider/left.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -115px;
  right: 102px;
  outline: none;
  cursor: pointer;
}
.products-slider__items .slick-next{
  font-size: 0;
  width: 10px;
  height: 20px;
  background: transparent;
  background-image: url(../images/products-slider/right.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -115px;
  right: 55px;
  outline: none;
  cursor: pointer;
}
.products-slider__img{
  max-width: 555px;
  width: 100%;
  min-height: 450px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.products-slider__info{
  max-width: 585px;
  background-color: #fff;
  padding: 45px 62px 24px 50px;
  position: relative;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  &::before{
    content: "";
    height: 1px;
    max-width: 484px;
    background-color: #ececec;
    position: absolute;
    left: 45px;
    right: 0;
    bottom: 80px;
  }
}
.products-slider__info-title{
  font-size: 24px;
  color: #000;
  font-weight: 500;
  margin-bottom: 16px;
}
.products-slider__info-user{
  display: flex;
  margin-bottom: 30px;
}
.info-user__img{
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.info-user__name{
  margin-right: 20px;
  font-size: 15px;
  color: #000;
}
.info-user__tool{
  display: flex;
  align-items: center;
  &-img{
    width: 17px;
    height: 17px;
    margin-right: 8px;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-text{
    font-size: 15px;
    color: #7347c1;
  }
}
.products-slider__text{
  margin-bottom: 35px;
}
.products-slider__hashtags{
  display: flex;
}
.products-slider__hashtag{
  font-size: 15px;
  color: #868c96;
  padding-left: 17px;
  padding-right: 17px;
  height: 28px;
  border-radius: 12px;
  background-color: #f1f3f6;
  text-align: center;
  margin-bottom: 68px;
  & + .products-slider__hashtag{
    margin-left: 7px;
  }
}
.products-slider__bottom-wrapper{
  display: flex;
  align-items: center;
}
.products-slider__bottom-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-slider__price{
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: $btn;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 15px;
  margin-right: 45px;
}
.products-slider__likes{
  font-size: 15px;
  margin-right: 43px;
  position: relative;
  font-family: 'Quicksand', sans-serif !important;
  &::before{
    color: #7347c1;
    font-size: 15px;
    right: 24px;
    position: absolute;
    font-family: 'icomoon';
  }
}
.products-slider__cart{
  font-size: 15px;
  color: $btn;
  position: relative;
  font-family: 'Quicksand', sans-serif !important;
  &::before{
    color: $btn;
    font-size: 15px;
    right: 29px;
    position: absolute;
    font-family: 'icomoon';
  }
}
// END PRODUCTS SLIDER               
// ===================================================

// START PRODUCTS              
// ===================================================
.products{
  background-color: #f6f7fb;
  padding: 120px 0;
}
.products__title{
  margin-bottom: 30px;
}
.products__btn{
  height: 92px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  margin-bottom: 50px;
  button{
    padding: 7px 20px;
    border: none;
    border-radius: 15px;
    background-color: #f1f3f6;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: #747b86;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    &.mixitup-control-active{
      color: #fff;
      background-color: $btn;
    }
  }
}
.products__inner{
  display: flex;
  justify-content: flex-start;
  margin-left: -25px;
  flex-wrap: wrap;
}
.products__item.mix{
  margin-left: 24px;
  flex-basis: calc(33.33333% - 25px);
}
.products__item{
  max-width: 361px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 31px;
  &-img{
    max-width: 361px;
    min-height: 260px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    overflow: hidden;
    &:hover .products__item-hover{
    transform: translateY(0);
    }
  }
  &-wrapper{
    padding: 30px;
  }
  &-info{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
}
.products__item-title{
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.products__item-bottom__box{
  height: 62px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ececec;
  justify-content: space-between;
}
.products__item-price{
  background-color: #e6f1fd;
  font-size: 15px;
  font-weight: 500;
  color: $btn;
  padding: 1px 15px;
  border-radius: 15px;
}
.products__item-likes{
  font-size: 15px;
  color: #6f7d8d;
  position: relative;
  &::before{
    position: absolute;
    content: "\e905";
    font-size: 15px;
    font-family: 'icomoon';
    right: 27px;
    color: #7f4ec2;
  }
}
.products__item-cart{
  font-size: 15px;
  color: $btn;
  position: relative;
  &::before{
    position: absolute;
    content: "\e904";
    font-size: 15px;
    font-family: 'icomoon';
    right: 27px;
    color: $btn;
    top: -1px;
  }
}
.products__item-hover{
  position: absolute;
  transform: translateY(-150%);
  transition: all .5s;
}
.products__item-hover__wrapper{
  position: relative;
  max-width: 361px;
  width: 100%;
  height: 260px;
  overflow: hidden;
  transition: all .6s;
  &:hover .item-hover__btn-more{
    left: 40px;
  }
  &:hover .item-hover__btn-demo{
    right: 40px;
  }
  img{
    max-width: 361px;
    width: 100%;
    height: 260px;
  }
  a{
    position: absolute;
    display: block;   
    color: #fff; 
    font-size: 15px;
    font-weight: 500;
    padding: 8px 0;
    width: 130px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    &:hover{
      color: $btn;
      background-color: #fff;
    }
  }
}
.item-hover__btn-more{
  left: -400px;
}
.item-hover__btn-demo{
  right: -400px;
}
.products__btn-bot{
  margin-top: 60px;
  text-align: center;
  button{
    color: #747b86;
    border: none;
    width: 190px;
    background-color: #f1f3f6;
    padding: 14px 0;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: #fff;
      background-color: $btn;
    }
    &.mixitup-control-active{
      color: #fff;
      background-color: $btn;
    }
  } 
}
// END PRODUCTS             
// ===================================================

// START FEED             
// ===================================================
.feed{
  padding: 120px 0;
  background-color: #eff1f5;
}
.feed__box{
  background-color: $btn;
}
.feed__items-inner{
  display: flex;
  justify-content: space-between;
}
.feed__items .slick-next {
  font-size: 0;
  width: 10px;
  height: 20px;
  background: transparent;
  background-image: url(../images/products-slider/right.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -115px;
  right: 55px;
  outline: none;
  cursor: pointer;
}
.feed__items .slick-prev {
  font-size: 0;
  width: 10px;
  height: 20px;
  background: transparent;
  background-image: url(../images/products-slider/left.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -115px;
  right: 102px;
  outline: none;
  cursor: pointer;
}
.feed__items .slick-list {
  padding: 0px 1px 0 13px;
}
.slick-dots{
  display: flex;
  justify-content: center;
  margin-top: -5px;
  button{
    font-size: 0;
    width: 15px;
    background-color: $btn;
    height: 14px;
    border: 0;
    border-radius: 50%;
    margin: 0 5px;
    outline: none;
  }
}
.slick-active button{
  background-color: blue;
}
// END FEED            
// ===================================================

// START STAT            
// ===================================================
.stat{
  background-color: #212225;
  padding: 90px 0;
}
.stat__items{
  display: flex;
  justify-content: space-between;
}
.stat__item{
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  width: 150px;
  .sale{
    color: #feb71d;
    position: relative;
    &::before{
      content: "\e90c";
      position: absolute;
      font-family: 'icomoon';
      font-size: 48px;
      left: 50%;
      transform: translateX(-50%);
      top: 5px;
    }
  }
  .sales{
    color: #58c9e9;
    position: relative;
    &::before{
      content: "\e906";
      position: absolute;
      font-family: 'icomoon';
      font-size: 48px;
      left: 50%;
      transform: translateX(-50%);
      top: 5px;
    }
  }
  .customers{
    color: #77de51;
    position: relative;
    &::before{
      content: "\e913";
      position: absolute;
      font-family: 'icomoon';
      font-size: 48px;
      left: 50%;
      transform: translateX(-50%);
      top: 5px;
    }
  }
  .members{
    color: #ff6a6d;
    position: relative;
    &::before{
      content: "\e914";
      position: absolute;
      font-family: 'icomoon';
      font-size: 48px;
      left: 50%;
      transform: translateX(-50%);
      top: 5px;
    }
  }
  &-num{
    padding-top: 100px;
  }
  &-text{
    font-size: 18px;
    line-height: 30px;
    color: #fff;
  }
}
// END STAT            
// ===================================================

// START PROGRESS            
// ===================================================
.progress{
  padding: 120px 0;
}
.progress__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.progress__item{
  max-width: 360px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: 20px 33px 50px;
  position: relative;
  margin-bottom: 30px;
  &-num{
    position: absolute;
    color: #5c87f8;
    opacity: .2;
    font-size: 35px;
    line-height: 40px;
    font-weight: 300;
    top: 15px;
    left: 20px;
  }
  &-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35px;
    &::before{
      font-size: 60px;
      
    }
  }
  &-title{
    font-size: 24px;
    padding-top: 130px;
    position: relative;
    margin-bottom: 20px;
  }
}
// END PROGRESS            
// ===================================================

// START SHOP          
// ===================================================
.shop__items{
  display: flex;
  text-align: center;
  overflow: hidden;
}
.shop__item{
  max-width: 960px;
  width: 100%;
  min-height: 561px;
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &-img{
    margin-bottom: 50px;
  }
  &-title{
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 20px;
  }
  &-text{
    color: #fff;
    max-width: 585px;
    width: 100%;
    margin: 0 auto 40px;

  }
  &-btn{
    color: #fff;
    width: 192px;
    padding: 12px 0;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all .3s;
    
    &:hover{
      color: $btn;
      background-color: #fff;
    }
    &-purple{
      &:hover{
        color: #7347c1;
        background-color: #fff;
      }
    }
  }
}
// END SHOP            
// ===================================================

// START FEEDBACK           
// ===================================================
.feedback{
  padding: 110px 0 120px;
  overflow: hidden;
}
.feedback__items{
  display: flex;
  justify-content: space-between;
}
.feedback__item{
  max-width: 556px;
  width: 100%;
  padding: 50px 35px 45px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-left: 2px solid $btn;
  &-box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    &::before{
      content: "\e90a";
      font-family: 'icomoon';
      position: absolute;
      font-size: 60px;
      color: #e8e8e8;
      right: 0;
      top: 7px;
    }
  }
  &-img{
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  &-name{
    font-size: 20px;
    color: #000;
  }
}
.feedback__btn{
  margin-top: 60px;
  text-align: center;
  a{
    width: 190px;
    color: #fff;
    background-color: $btn;
    border-radius: 28px;
    padding: 12px 0;
  }
}
// END FEEDBACK         
// ===================================================

// START NEWS        
// ===================================================
.news{
  overflow: hidden;
  background-color: #eff1f5;
  padding: 110px 0 120px;
}
.news__items{
  display: flex;
  justify-content: space-between;
}
.news__item{
  width: 361px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  &-img{
    width: 361px;
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }
  &-wrapper{
    padding: 20px 30px 0;
  }
  &-title{
    font-weight: 500;
    font-size: 22px;
    color: #000;
    margin-bottom: 20px;
  }
  &-text{
    margin-bottom: 20px;
  }
  &-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    padding: 10px 30px;
    height: 60px;
    align-items: center;
  }
  &-date{
    font-size: 15px;
    color: #999999;
    padding-left: 25px;
    position: relative;
    border-right: 1px solid #ececec;
    padding-right: 45px;
    &::before{
      content: "\e90c";
      font-family: 'icomoon';
      position: absolute;
      color: $btn;
      font-size: 15px;
      left: 0;
    }
  }
  &-comments{
    font-size: 15px;
    color: #7e7e7e;
    padding-left: 25px;
    position: relative;
    margin-left: auto;
    margin-right: 30px;
    &::before{
      content: "\e90a";
      font-family: 'icomoon';
      position: absolute;
      color: #7e7e7e;
      font-size: 15px;
      left: 0;
    }
  }
  &-views{
    font-size: 15px;
    color: #7e7e7e;
    padding-left: 25px;
    position: relative;
    &::before{
      content: "\e90d";
      font-family: 'icomoon';
      position: absolute;
      color: #7e7e7e;
      font-size: 15px;
      left: 0;
    }
  }
}
// END NEWS         
// ===================================================

// START WARRANTY       
// ===================================================
.warranty__items{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.warranty__item{
  max-width: 572px;
  width: 100%;
  text-align: center;
  padding: 60px 0;
  & + .warranty__item{
    border-left: 1px solid #e8eaf3;
  }
  &-img{
    margin-bottom: 20px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    .title-blue{
      color: $btn;
    }
    .title-purple{
      color: #7347c1;
    }
  }
}
// END WARRANTY        
// ===================================================

// START JOIN US        
// ===================================================
.join-us{
  background-image: url(../images/join-us/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
}
.join-us__inner{
  text-align: center;
  color: #fff;
  &-title{
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 18px;
  }
  &-suptitle{
    font-size: 18px;
    margin-bottom: 45px;
  }
  a{
    color: $btn;
    background-color: #fff;
    width: 190px;
    padding: 12px 0;
    border-radius: 30px;
  }
}
// END JOIN US    
// ===================================================

// START FOOTER  
// ===================================================
.footer__top{
  overflow: hidden;
  background-color: #262b30;
  padding: 115px 0;
}
.footer__top-inner{
  display: flex;
  justify-content: space-between;
}
.footer__title{
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
  padding-top: 16px;
}
.footer__contacts{
  width: 265px;
  &-logo{
    margin-bottom: 25px;
  }
  &-phone,
  &-mail,
  &-map{
    font-size: 15px;
    color: #ababab;
    padding-left: 28px;
    position: relative;
    line-height: 26px;
    margin-bottom: 10px;
  }
  &-text{
    font-size: 15px;
    color: #ababab;
    line-height: 28px;
    margin-bottom: 15px;
  }
  &-phone{
    &::before{
      position: absolute;
      content: "\e914";
      font-family: 'icomoon';
      left: 0;
      font-size: 16px;
      color: #fff;
    }
  }
  &-mail{
    &::before{
      position: absolute;
      content: "\e916";
      font-family: 'icomoon';
      left: 0;
      font-size: 16px;
      color: #fff;
    }
  }
  &-map{
    &::before{
      position: absolute;
      content: "\e912";
      font-family: 'icomoon';
      left: 0;
      font-size: 16px;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.footer__company,
.footer__help{
  width: 140px;
  a{
    font-size: 15px;
    color: #ababab;
  }
}
.footer__newsletter{
  max-width: 370px;
  width: 100%;
  &-text{
    font-size: 15px;
    color: #ababab;
    line-height: 28px;
    margin-bottom: 30px;
  }
  form{
    position: relative;
    margin-bottom: 45px;
    input{
      border-radius: 25px;
      border: none;
      outline: none;
      padding-left: 30px;
      padding-right: 140px;
      width: 360px;
      height: 50px;
      font-size: 15px;
      color: #ababab;
      
    }
    button{
      position: absolute;
      height: 50px;
      border-radius: 25px;
      border: none;
      outline: none;
      width: 110px;
      background-color: $btn;
      color: #fff;
      font-size: 15px;
      right: 10px;
    }
  }
  &-social{
    display: flex;
  }
  &-social__facebook,
  &-social__twitter,
  &-social__google,
  &-social__pinterest,
  &-social__linkedin,
  &-social__dribble{
    width: 42px;
    height: 42px;
    
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 13px;
    &::before{
      position: absolute;
      font-family: 'icomoon';
      font-size: 16px;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-social__facebook{
    background-color: #395799;
    &::before{
      content: "\f09a";
    }
  }
  &-social__twitter{
    background-color: #19b2f5;
    &::before{
      content: "\f099";
    }
  }
  &-social__google{
    background-color: #f05b44;
    &::before{
      content: "\f1a0";
    }
  }
  &-social__pinterest{
    background-color: #9c0c1c;
    &::before{
      content: "\f0d2";
    }
  }
  &-social__linkedin{
    background-color: #0da6be;
    &::before{
      content: "\f0e1";
    }
  }
  &-social__dribble{
    background-color: #ea4c89;
    margin-right: 0;
    &::before{
      content: "\f17d";
    }
  }
}

.footer__bottom{
  background-color: #192027;
  height: 94px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #999999;
  a{
    color: #fff;
  }
}
// END FOOTER   
// ===================================================


@import 'media';